.mainHeader {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding-top: 1.4rem;
  ul {
    display: flex;
    li {
      a {
        color: #333;
        font-size: 1.4rem;
        padding: 2rem;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          left: 51%;
          right: 51%;
          bottom: 0;
          background: #580ed0;
          height: 3px;
          -webkit-transition-property: left, right;
          transition-property: left, right;
          -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
        }
        &:hover:before,
        &:focus:before,
        &:active:before {
          left: 0;
          right: 0;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .mainHeader {
    ul {
      li {
        a {
          padding: 2rem 1rem;
        }
      }
    }
  }
}
